@model IEnumerable<Category>
@{
    ViewData["Title"] = "Shop";
}
<h1>
    Pick a Category to find your footwear
</h1>
<section class="row ">
    @foreach (var category in Model)
    {
        <article class="col-lg-4">
            <div class="card mb-3">
                <h1>
                    <a asp-action="Category" asp-route-id="@category.CategoriesId">@category.Name</a>
                </h1>

            </div>
        </article>
    }
</section>