@model Category
@{
    ViewData["Title"] = "Create Category";
}
<p>
    create
</p>

<form action="Create" method="post">
    <label for="Name">Category Name</label>
    <input name="Name" id="Name" asp-for="Name" type="text" placeholder="Category Name" />
    <input class="btn btn-success" type="submit" value="Create"/>
</form>
