@model Category
@{
    ViewData["Title"] = "Create Category";
}
<p>
create
</p>

<form action="post">
    <label for="name"></label>
    <input name="name" id="name" type="text" placeholder="Category Name"/>

    <input class="btn btn-success" type="submit" value="Create"/>
</form>
